.item {
    border: 2px solid aqua;
    display: flex;
    justify-content: center;
    text-align: center;


   
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    text-align: center;
    
}

.container-grid-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}
.grid-box{
    border: 2px solid aqua;
    height: 50px;
    width: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 200px;
    text-align: center;
    margin: 10px;

}