.Calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 20px;
    column-gap: 10px;
   
    
    
}

.date, .day{
    border-radius: 8px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    
}
.day{
    background-color: lightgreen;
}